cmake-build-debug-visual-studio
.idea
font
test1.c
res/container.jpg
res/aaa.jpg
res/animal.png
res/awesomeface.png
res/fs.glsl
res/test.jpg
res/testpic.jpg
res/trangle.fs
res/trangle.vs
res/vs.glsl
res/wall.jpg
/res/1.png
/res/2.png
/res/heart.frag
/res/catgirl.png
/res/heart.vs
/res/small.png
test2.c
test3.c